<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialIcons" version="1.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Ragnar" version="0.6.0" targetFramework="net461" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.0-alpha3" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net461" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net461" />
</packages>